* {
  box-sizing: border-box;
  text-rendering: optimizeLegibility;
  margin: 0;
}
html {
  font-size: 62.5%;
}
body {
  font-family: "Open Sans", arial, helvetica, sans-serif;
  font-weight: normal;
  line-height: 1.5;
  background: #CF4647;
  font-size: 12px;
  margin: 0;
}
